<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DE2_UE_Fahrradkurier.Properties.Settings.de2_uebung_fahrradkurierConnectionString"
            connectionString="Data Source=wg-server;Initial Catalog=de2_uebung_fahrradkurier;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>